.week-calendar-container {
  display: flex;
  justify-content: center;
}

.week-calendar {
  display: grid;
  grid-template-rows: 50px repeat(9, 100px);
  grid-template-columns: 100px repeat(5, 200px);
}

.row.header {
  height: 30px;
}

.entry, .day-label, .time-row {
  border-left: 1px solid lightgray;
}

.day-label, .dummy-div {
  border-bottom: 1px solid lightgray;
  display: flex;
  align-items: center;
  justify-content: center;
}

.event-adder-container {
  display: flex;
  justify-content: center;
}

.event-adder {
  width: min(100%, 300px);
}
